html,
body {
    padding: 0;
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: rgb(141, 189, 86);
    margin-bottom: 2rem !important;
    text-decoration: underline;
}

h2 {
    font-size: 1.25rem !important;
}

h1,
h2,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

button {
    padding: 0.5rem 1rem;
    font-weight: bold;
}

form {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #3b82f6; /* Blue outline */
    padding: 2rem;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    
}
input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #3b82f6; /* Blue border on focus */
    outline: none;
}

/* Login button */
form button {
    width: 100%;
    padding: 0.8rem;
    background-color: #3b82f6; /* Blue background */
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

button:hover {
    background-color: #2563eb; /* Slightly darker blue on hover */
}

button:focus {
    outline: none;
}

/* Error message styling */
.text-red-800 {
    color: #e11d48; /* Red color for error */
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

.status-message-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    margin-top: 1rem; /* Adds space below the heading */
}

.success-message {
    font-size: 1rem; /* Optional: Adjust size */
    font-weight: bold; /* Optional: Make it bold */
    color: #16a34a; /* Green color */
}

.text-center {
    padding-top: 2rem; 
}

.login-heading {
    padding-top: 2rem;
}

.schedule-appointment-btn {
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: rgb(141, 189, 86); /* Green background */
    color: white;
    transition: background-color 0.3s ease;
    border: none;
}

.schedule-appointment-btn:hover {
    background-color: rgb(84, 157, 0); /* Slightly darker blue on hover */
}

.delete-appointment-btn {
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color:#e11d48; 
    color: white;
    transition: background-color 0.3s ease;
    border: none;
}

.delete-appointment-btn{
    background-color: #f30035;
}

.filter-appointment-btn{
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color:#2563eb;; 
    color: white;
    transition: background-color 0.3s ease;
    border: none;
    margin-bottom: 2rem;
}
